body {
    background-color: #757575;
}

h1 {
    width: 4rem;
    height: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h2 {
    color: #43a047;
}

img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    padding: 0.25rem;
    justify-content: center;
}

#main {
    text-align: center;
    color: #000;
    margin: auto;
}

.square {
    background-color: #0d47a1;
    width: 4rem;
    height: 4rem;
}

.square:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.2) inset;
}

.outside {
    /* margin: 3rem; */
    width: 47rem;
    height: 47rem;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.board {
    padding: 5rem;
    margin-top: 1rem;
    background-color: #b0bec5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10%;

}

.piece {
    text-align: center;
    justify-content: center;
}